[submodule "libqi"]
	path = libqi
	url = https://github.com/ros-naoqi/libqi.git
	branch = v2.5.0-humble
[submodule "naoqi_driver2"]
	path = naoqi_driver2
	url = https://github.com/kjs26/naoqi_driver2.git
[submodule "diagnostics"]
	path = diagnostics
	url = https://github.com/ros/diagnostics.git
[submodule "libqicore"]
	path = libqicore
	url = https://github.com/ros-naoqi/libqicore.git
[submodule "naoqi_bridge_msgs2"]
	path = naoqi_bridge_msgs2
	url = https://github.com/ros-naoqi/naoqi_bridge_msgs2.git
